<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>$TITLE</title>

<!-- before done: return the leading '/' to both of these file paths:
-->
    <link rel="stylesheet" type="text/css" href="style/stories.css">
  </head>
  <body bgcolor="#ffffff" vlink="#336666" background="derby/back.gif" class="vsc-initialized">
    <ul>

    <center><h3><font color="#336666">$TITLE</font></h3></center>
    <center><h3><font color="#336666">By $AUTHOR</font></h3></center>

    $JUMP_SECTION

    $POST_BODY_SECTION

    $CLOSING_SECTION

    <p><hr><p>

    &copy; $COPYRIGHT_YEAR Copyright held by the author.

    </ul>
  </body>
</html>
